 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .box h1{
        font-size: 18px;
    }
    .c-text{
        font-size: 8px;
    }
    .s-blog{
        margin: 0 16px;
      }

      .back{
        height: 50vh;
        
    }
    .card-title{
        font-size: 12px;
    }
    .card-text{
        font-size: 10px;
    }
    .cd-btn{
        font-size: 8px;
    }
    
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .c-text{
        font-size: 12px;
    }
    .s-blog{
        margin: 0 16px;
      }

      .back{
        height: 50vh;
         }
         .back .btn{
            top: 40%;
            left: 25%;
             }

             .card-title{
                font-size: 14px;
            }
            .card-text{
                font-size: 12px;
            }
            .cd-btn{
                font-size: 10px;
            }
    /* butt
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  /* .s-blog{
    margin: 0;
  } */
  .card-title{
    font-size: 14px;
}
.card-text{
    font-size: 12px;
}
.cd-btn{
    font-size: 10px;
}
 }
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .c-text{
        font-size: 14px;
    }
 }
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){ 

}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
}
